## Dataset 1: "GEOFON Earthquake Data"

In [1]:
# import packages; pip install if necessary

# !pip install pandas
import pandas as pd

In [2]:
'''# fetch current earthquake (EQ) dataset (here: n = 1796), format as .csv, and save file (uploaded to Github)

url = "https://geofon.gfz.de/fdsnws/event/1/query?end=2025-10-21&limit=1796&format=text"
df = pd.read_csv(url, sep = "|")
filepath = 'GEOFON_EQ_data_recent.csv'
df.to_csv(filepath)'''

'# fetch current earthquake (EQ) dataset (here: n = 1796), format as .csv, and save file (uploaded to Github)\n\nurl = "https://geofon.gfz.de/fdsnws/event/1/query?end=2025-10-21&limit=1796&format=text"\ndf = pd.read_csv(url, sep = "|")\nfilepath = \'GEOFON_EQ_data_recent.csv\'\ndf.to_csv(filepath)'

In [3]:
# read csv file from Github

username = "Avonik"
repository = "ASDA_2025_Group_4_Portfolio"
directory = "additional_material/GEOFON_EQ_data_recent.csv"
github_url = f"https://raw.githubusercontent.com/{username}/{repository}/main/{directory}"
eq_df = pd.read_csv(github_url)

In [4]:
eq_df

,Unnamed: 0,#EventID,Time,Latitude,Longitude,Depth/km,Author,Catalog,Contributor,ContributorID,MagType,Magnitude,MagAuthor,EventLocationName,EventType
0,0,gfz2025upgl,2025-10-20T23:00:55.01,44.996,14.954,10.0,NaN,NaN,GFZ,gfz2025upgl,M,3.10,NaN,Adriatic Sea,NaN
1,1,gfz2025upfw,2025-10-20T22:43:15.43,53.012,159.748,52.6,NaN,NaN,GFZ,gfz2025upfw,mb,5.03,NaN,Near East Coast of Kamchatka,NaN
2,2,gfz2025upfm,2025-10-20T22:31:56.23,-6.891,125.707,510.3,NaN,NaN,GFZ,gfz2025upfm,mb,4.45,NaN,Banda Sea,NaN
3,3,gfz2025upfl,2025-10-20T22:30:33.28,46.549,152.939,10.0,NaN,NaN,GFZ,gfz2025upfl,mb,5.07,NaN,Kuril Islands,NaN
4,4,gfz2025uoyy,2025-10-20T19:13:46.18,18.519,-70.506,10.0,NaN,NaN,GFZ,gfz2025uoyy,mb,5.03,NaN,Dominican Republic Region,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1791,1791,gfz2025oxlv,2025-08-01T01:36:41.88,52.968,161.123,32.7,NaN,NaN,GFZ,gfz2025oxlv,Mw,5.40,NaN,Off East Coast of Kamchatka,NaN
1792,1792,gfz2025oxlp,2025-08-01T01:28:30.22,51.056,157.255,40.0,NaN,NaN,GFZ,gfz2025oxlp,mb,4.81,NaN,Near East Coast of Kamchatka,NaN
1793,1793,gfz2025oxlj,2025-08-01T01:22:10.96,52.963,158.861,10.0,NaN,NaN,GFZ,gfz2025oxlj,mb,4.72,NaN,Near East Coast of Kamchatka,NaN
1794,1794,gfz2025oxkq,2025-08-01T01:00:20.62,52.633,161.206,27.0,NaN,NaN,GFZ,gfz2025oxkq,mb,4.80,NaN,Off East Coast of Kamchatka,NaN
1795,1795,gfz2025oxka,2025-08-01T00:40:56.66,51.669,158.966,31.0,NaN,NaN,GFZ,gfz2025oxka,mb,4.90,NaN,Near East Coast of Kamchatka,NaN

### Task 1

### Task 2

### Task 3: Descriptive statistics (STEFAN SMID)

In [5]:
# Numeric columns
eq_df.describe()

,Unnamed: 0,Latitude,Longitude,Depth/km,Author,Catalog,Magnitude,MagAuthor
count,1796.000000,1796.000000,1796.000000,1796.000000,0.0,0.0,1796.000000,0.0
mean,897.500000,23.802864,84.305294,61.714644,NaN,NaN,4.909399,NaN
std,518.604859,32.424393,104.344503,109.790057,NaN,NaN,0.477349,NaN
min,0.000000,-65.140000,-179.877000,0.000000,NaN,NaN,1.850000,NaN
25%,448.750000,-3.058500,24.128750,10.000000,NaN,NaN,4.720000,NaN
50%,897.500000,37.542000,138.861000,26.000000,NaN,NaN,4.900000,NaN
75%,1346.250000,51.736250,159.235000,55.025000,NaN,NaN,5.110000,NaN
max,1795.000000,84.841000,179.969000,630.700000,NaN,NaN,7.790000,NaN

In [34]:
# Categorical/object columns
eq_df.describe(include="object")

,#EventID,Time,Contributor,ContributorID,MagType,EventLocationName,EventType
count,1796,1796,1796,1796,1796,1796,7
unique,1796,1796,1,1796,5,255,3
top,gfz2025upgl,2025-10-20T23:00:55.01,GFZ,gfz2025upgl,mb,Off East Coast of Kamchatka,quarry blast
freq,1,1,1796,1,1457,358,3